{% if post.lefthand_link or post.righthand_link %}
        <article class='page-links'>
            {% if post.lefthand_link %}
                {% set link = TimberPost(post.lefthand_link) %}
                {% if link.parent %}
                    {% set parent = TimberPost(link.parent) %}
                {% endif %}
                
                <a href='{{link.link}}'>
                    {{parent ? parent.title : link.title}}&nbsp;&nbsp;<i>&#x3c;</i>
                    {% if parent %}
                        <br/><span>{{link.title}}</span>
                    {% endif %}
                </a>
            {% else %}
                <spacer></spacer>
            {% endif %}
            <divider></divider>
            {% if post.righthand_link %}
                {% set link = TimberPost(post.righthand_link) %}
                {% if link.parent %}
                    {% set parent = TimberPost(link.parent) %}
                {% endif %}
                
                <a href='{{link.link}}'>
                    <i>&#x3e;</i>&nbsp;&nbsp;{{parent ? parent.title : link.title}}
                    {% if parent %}
                        <br/>&nbsp;&nbsp;<span>{{link.title}}</span>
                    {% endif %}
                </a>
            {% else %}
                <spacer></spacer>
            {% endif %}
        </article>
    {% endif %}