<a href='{{ site.url }}' title='{{ site.title }} Logo' class='logo'>
    {% if logo.mime_type == 'images/svg+xml' %}
        {% do action('inline_file', logo.url) %}
    {% else %}
        {% if fn('is_front_page')%}
            <img src='{{options.home_page_logo}}' alt='{{ image.alt }}' />
        {% else %}
        {% set image = TimberImage(logo) %}
        <img src='{{ image.src }}' alt='{{ image.alt }}' />

        {% endif %}
    {% endif %}
</a>