{% if fn('is_front_page')%}
<article class='downloads' style='--bg-image: url("{{theme.link ~ "/dist/images/Union 44.svg"}}");'>
{% else %}
<article class='downloads downloads-mobile' style='--bg-image: url("{{theme.link ~ "/dist/images/Union 44.svg"}}");'>
{% endif %}
    <h2>{{__('New tools. New style.','crowd')}}</h2>
    <p>{{__('All the tools you need to build the Spreadshop vibe.','crowd')}}</p>
    <ul>
        {% for item in downloads.items %}
            <li>
                <a href='{{item.get_link}}' target='{{item.target}}'>
                    <span>{{item.title}}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <p>
        {{__("You can download our approved brand assets in various formats above.<br />These can be used in conjunction with the guidance given to produce branded materials and communications for Spreadshop.<br/><br/>Want to know more? Not a problem! Just get us on<br/><strong><a href='mailto:info@spreadshop.com'>info@spreadshop.com</a></strong>",'crowd')}}
    </p>
</article>