<article class='color-grid' style='--text-color: {{fields.background_color.text_color}};--background-color: {{fields.background_color.color}};'>
    {% if fields.background_color %}
        <h4 class='colors background-colors'>
            {% for color in fields.background_color %}
                <div style='--color: {{color.color}};--text: {{color.text_color}};'>
                    <h4>{{color.name}}</br><span>{{color.color}}</span></h4>
                </div>
            {% endfor %}
        </h4>
    {% endif %}
    <div class='colors'>
        {% for item in fields.main_colors %}
            <div style='--color: {{item.color}};--text: {{item.text}};'>
                <h4>{{item.name}} <span>{{item.color}}</span></h4>
            </div>
        {% endfor %}
    </div>
</article>