<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta charset="{{site.charset}}" />
    <title>{{ wp_title ? wp_title : site.name}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{options.android_navigation_bar_colour}}">
    <meta name="msapplication-navbutton-color" content="{{options.android_navigation_bar_colour}}">

    {{function('wp_head')}}
    {% if allow_ga %}
        {% if options.google_analytics %}
            <script type="text/partytown">
                window.GOOGLEANALYTICSCODE = '{{options.google_analytics}}';
            </script>
            <script type="text/partytown" defer data-src="https://www.google-analytics.com/analytics.js"></script>
            {{load_ga()}}
        {% endif %}
        {% if options.googletagmanager %}
            <script type="text/partytown">
                window.GOOGLETAGMANAGERCODE = '{{options.googletagmanager}}';
            </script>
            <link rel="dns-prefetch" href="//googletagmanager.com"/>
            {{load_gtm()}}
        {% endif %}
    {% endif %}
    <link rel='preload' as='style' class='preload-css' href='{{theme.link}}/includes/fonts/stylesheet.css' />
    <link rel="preload" as='style' class='preload-css' href="https://use.typekit.net/nsw6hbz.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link class='preload-css' as='style' href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto&display=swap" rel="preload">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    {{ options.head_scripts }}