{% extends "base.twig" %}

{% block content %}
    {% include "landing-page/hero.twig" %}

    <article class='nav-block'>
        {% include "image.twig" with {
            image: theme.link ~ '/dist/images/who-are-we.png'
        } %}
        <div>
            <h2 class="arrow">{{__('Who on<br />earth<br />are we?!','crowd')}}</h2>
            <p>{{__("We're Spreadshop. And we're on the planet to spread positive change.", 'crowd')}}</p>
            <a class='button' href='{{site.link}}/our-story'>{{__('Read story','crowd')}}</a>
        </div>
    </article>

    <article class='nav-block'>
        <div class='waving'>
            <h2>{{__("What's<br />the vibe?",'crowd')}}</h2>
            <p>{{__("We're going to change the world in style!<br />Check it out...", 'crowd')}}</p>
            <a class='button' href='{{site.link}}/our-identity/logo'>{{__('View identity','crowd')}}</a>
        </div>
        {% include "image.twig" with {
            image: theme.link ~ '/dist/images/the-vibe.png'
        } %}
        
    </article>

    <article class='nav-block'>
        {% include "image.twig" with {
            image: theme.link ~ '/dist/images/sustainability.png'
        } %}
        <div>
            <h2 class="arrow">{{__('Our Sustainability journey','crowd')}}</h2>
            <p>{{__("", 'crowd')}}</p>
            <a class='button' href='https://journey.spreadshop.com/' target="_BLANK">{{__('Visit website','crowd')}}</a>
        </div>
    </article>

    {% include "landing-page/downloads.twig" %}
    
    {% include "page/footer-links.twig" %}
{% endblock %}